/bstore-conekta/target/
/bstore-drools/target/
/bstore-persistence/target/
/bstore-web/target/

/bstore-conekta/.classpath
/bstore-conekta/.project
/bstore-conekta/.settings/

/bstore-drools/.classpath
/bstore-drools/.project
/bstore-drools/.settings/

/bstore-persistence/.classpath
/bstore-persistence/.project
/bstore-persistence/.settings/

/bstore-web/.classpath
/bstore-web/.project
/bstore-web/.settings/

/bstore-conekta/src/test/java/META-INF/
/bstore-drools/src/test/java/META-INF/
/bstore-persistence/src/test/java/META-INF/
/bstore-web/src/test/java/META-INF/

.project
.classpath
.settings/
