.item {
    background: #FAFAFA none repeat scroll 0 0;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font: -moz-field;
    font-size: 12px;
    font-family: verdana;
}
.text{
	font-family: 'Architects Daughter', cursive;
        font-size: 90%;
}
.zoom{
	border-radius:10px;
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.zoom:hover{
    transform : scale(1.25);
    -moz-transform : scale(1.25);      /* Firefox */
    -webkit-transform : scale(1.25);   /* Chrome - Safari */
    -o-transform : scale(1.25);        /* Opera */
}
.banner-wrapper {
	position: relative;
}
.banner-title {
    position: absolute;
    left: -10px;
    bottom: 60px;
    background: #FF6B0E;
    line-height: 1.5em;
    font-weight: normal;
    padding: 7px 9px 6px;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-left:20px;
    text-align: center;
    border-radius:20px;
}