.item {
    background: #bebebe none repeat scroll 0 0;
    border-radius: 3px;
    color: #bebebe;
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}