.item {
    background: #000000 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font: -moz-field;
    font-size: 12px;
}
.zoom{
	border-radius:10px;
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.zoom:hover{
    transform : scale(1.5);
    -moz-transform : scale(1.5);      /* Firefox */
    -webkit-transform : scale(1.5);   /* Chrome - Safari */
    -o-transform : scale(1.5);        /* Opera */
}